@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

#wrap{width:100%;height:100vh;max-width:1530px;margin:auto;}
/* Header Section */
#wrap>header{width:100%;height:15%;}
#wrap>header .center{width:100%;height:100%;display:flex;margin-top:1%;}
#wrap>header .center .logo{width:51%;height:100%;display:flex;flex-direction: row-reverse;}
#wrap>header .center .logo>img{height:95%;}
#wrap .center .nav{width:40%;height:100%;}
#wrap .center .nav>ul{width:100%;height:100%;display:flex;float:left;padding:11%;}
#wrap .center .nav>ul>li{width:25%;height:100%;display: flex;justify-content: space-evenly;
 align-items: center;font-size:16px;border-left:1px solid #333;text-align:center;}
#wrap .center .nav>ul>li>a{width:100%;}
#wrap .center .nav>ul>li i{font-size:14px;border:none;}

/* Menu Section */
#wrap .menu{width:100%;height:15%; position:relative;}
#wrap .menu .navi{width:100%;height:100%;display:flex;align-items: center;justify-content:center;position:absolute;z-index:999;}
#wrap .menu .navi>li{width:15%;height:100%; display:flex;align-items: center;justify-content:center;}
#wrap .menu .navi>li>a{font-size:18px;width:100%;}

/* Hidden Mega Box Style Code */
.hidden_sub {
 width: 100%;
 height: 400px;
 background: #fff;
 position: absolute;
 top: 0;
 left: 0;
 display: none;
 z-index: 1;
}
 .hidden_sub .line {
 width: 100%;
 border-top: 1px solid #b1b1b1;
 position: absolute;
 top: 105px;
}

/* Hidden Mega Box Sub Menu Style Code */
 .hidden_sub .sub_nav {
 width: 1060px;
 margin: auto;
 position: relative;
 top: 120px;
}

 .hidden_sub .subnav_box {
 position: absolute;
}

 .hidden_sub .subnav_box ul {
 display: inline-block;
 vertical-align: text-top;
}

 .hidden_sub .subnav_box ul a {
 color: #000;
 display: block;
 width: 100%;
 height: 100%;
 line-height: 30px;
 font-size: 14px;
 transition: all 0.4s;
}

 .hidden_sub .subnav_box ul a:hover {
 color: #d72329;
}

 .hidden_sub .subnav_box.box_1 {
 left: 79px;
}

 .hidden_sub .subnav_box.box_2 {
 left: 308px;
}

 .hidden_sub .subnav_box.box_3 {
 left: 530px;
}

 .hidden_sub .subnav_box.box_4 {
 left: 760px;
}



/* Slide Section */
#wrap .slides{width:100%;height:68%;position:relative;margin:auto;}
#wrap .slides .slide-wrap{width:100%;height:100%;overflow:hidden;}
#wrap .slide-wrap .slide{width:100%;height:auto;}
#wrap .slide-wrap .slide>img{width:100%;height:100%;}
/* The dots/bullets/indicators */
.dots{text-align:center;margin-top:-1.5%;}
.dot {
 height: 15px;
 width: 15px;
 margin: 0 2px;
 background-color: #fff;
 border-radius: 50%;
 display: inline-block;
 transition: background-color 0.6s ease;
 text-align:center;
}
/* Fading animation */
.slide {
 -webkit-animation-name: slide;
 -webkit-animation-duration: 1.5s;
 animation-name: slide;
 animation-duration: 1.5s;
}
.active {
 background-color:#341c17;;
}
@-webkit-keyframes fade {
 from {opacity: .4} 
 to {opacity: 1}
}

@keyframes fade {
 from {opacity: .4} 
 to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
 .text {font-size: 11px}
}

/* Start,Pause button */
#wrap .all-control{width:100%;height:10%;align-items:center;justify-content:center;}
.all-control .start {width:45%;height:100%;position:relative;float:right;}
.all-control .start .fas{font-size: 1.35em;position: absolute; color: #000; margin: -2.85% -1.1%;}


/* Best Seller item Section */

#wrap .best-seller{width:100%;height:70%;}
#wrap .best-seller .title{width:100%;height:auto;background:#fff;font-size: 23px;
 text-align: center; font-weight: bold; margin: 60px 0 40px; color: #341c17;}
#wrap .best-seller .title h2{ display: inline-block; padding: 0 30px;
 background-color: #fff;}
 #wrap .best-seller .line{background: url(../img/line.jpg) repeat-x left center;
 }
 #wrap .best-seller .slides{width:100%; height:100%;padding:2.5%;}
 #wrap .best-seller .slides .slider-wrap{display: flex;position: relative;align-items:center;justify-content:center;}
 #wrap .slides .slider-wrap .item-line{width: 100%;height: auto;
   position: absolute; top: 100%; transform: translate(10px, -118px);}
 #wrap .slides .slider-wrap .item-line img{width:100%;}
 #wrap .slides .slider-wrap .prev1 {display:block; align-items: center;
   font-size: 25px;font-weight: 500;margin-left:1%;}
 #wrap .slider-wrap .next1 {display:block; align-items: center;font-size: 25px;font-weight: 500; margin-right:1%;}
 #wrap .slides .slider-wrap .slider{width:100%;height:100%;}
 #wrap .slider-wrap .slider .be-slide{width:100%;height:100%;}
 #wrap .be-silde .slide-new{width:90%;height:90%;display:flex;flex-direction: column;align-items:center;}
 #wrap .slide-new .image{width:50%;height:80%; display: flex; align-items: center;
 margin-left: 70px;}
 #wrap .slide-new .image img{width:100%;height:100%;}
 .slide-new img{width:100%;height:100%;}
 .slide-new .text{width: 100%;height: 100%;font-size: 14px; display: block;
  padding-top: 15px;line-height: 22px;}
  .slide-new .text .txt{font-size:15px;text-align:center;}
 #wrap .best-seller .slick-prev{left:0;}
 #wrap .best-seller .slick-next{right:-20px;}
 /* Info Section */
 #wrap .info{width:100%;height:100%;display:flex;}
 /* Info-review */
 .info .re-slides{margin-left: 10%;width: 60%;;height:100%;margin-top:10%;}
 .info .re-all p{font-size: 20px; text-align: center; font-weight: bold;
  margin: 33px 10px 29px -191px; color: #341c17;}
 .info .re-slides .re-all{margin-left:4%;height:50%;position:relative;}
 .info .re-all .re-wrap{width:90%;height:100%; overflow:hidden;position:absolute;}
 .info .re-wrap .re-main{width:100%;height:70%;border:1px solid #ddd;}
 .info .re-wrap .review{width:100%;height:100%;display:flex;}
 .info .review>img{width:36%;height:100%; background: #e8e2ef;}
 .info .review .text{width: 55%;height: 100%;padding: 7.5%;}
 .review .text>h3{width:100%;height:10%;display: block;
  font-size: 20px; padding-bottom: 30px; line-height: 1;}
 .review .text .guest{width:100%;height:60%;padding-top:2%;}
 .review .text .guest #id{width:100%;height:10%; text-overflow: ellipsis;
  overflow: hidden; white-space: nowrap;}
 .review .text .guest .line{width:100%;height:10%; border-bottom: 1px solid #dedede;
  padding: 0 0 12px 0; position: relative; line-height: 1; margin-bottom: 13px;}
  .review .text .guest>span{width:100%;height: 60%; line-height: 24px;
   min-height: 24px; max-height: 72px; overflow: hidden;}
    /* Info-inform */
#wrap .info .inform{width: 20%; height: 100%; margin-top: 10%; margin-right: 12%;}
.inform p{font-size: 20px; text-align: center; font-weight: bold;
  margin: 25.5px 0 35px;color: #341c17;}
.inform>img{width:100%; height: 35%;}

/* Beauty Section */
#wrap .beauty{width:100%;height:70%;display:flex;}
#wrap .beauty .gift{width:60%;height:90%;display:flex;flex-direction:column;padding-left:11%;}
#wrap .beauty .gift p{font-size: 20px; text-align: center;
  font-weight: bold; margin: 23px 0px 25px -138px; color: #341c17;}
.gift .image_accordian{position:relative;width:90%;height:90%;
  overflow:hidden;}
.gift .image_accordian ul{width:90%;height:100%;display:table;table-layout:fixed;}
.gift .image_accordian ul li{width:33.33%;height:100%;display:table-cell;vertical-align:bottom;position:relative; transition:all 500ms ease;}
.image_accordian ul li:nth-child(1){background:url(../img/gift-1.jpg)no-repeat center center;background-size:cover;}
.image_accordian ul li:nth-child(2){background:url(../img/gift-2.jpg)no-repeat center center;background-size:cover;}
.image_accordian ul li:nth-child(3){background:url(../img/gift-3.jpg)no-repeat center center;background-size:cover;}
.image_accordian ul:hover li,
.image_accordian ul:focus-within li{width:8%;}
.image_accordian ul:hover li:hover,
.image_accordian ul:focus-within li:focus{width:60%;}
.image_accordian ul li:focus{outline:none;}
.image_accordian ul li div{display:block;width:100%;height:100%;overflow: hidden;}
.image_accordian ul li div a{width: 100%; height: 100%; position: relative;
  padding: 50px 50px 30px; z-index: 3; color: #fff; text-decoration: none;
  display: flex; justify-content: flex-end; flex-direction: column;
  align-items: center; justify-content: center;}
.image_accordian ul li div a *{opacity:0;position:absolute;width:100%;text-overflow:ellipsis;white-space:nowrap;transform:translate(-20px);
transition:all 400ms ease;}
.image_accordian ul li div a span{ display: flex; justify-content: space-evenly; font-size: 30px;
  font-weight: 700; letter-spacing: 1px; text-overflow: clip; margin-bottom: 135px;
  color: #fff; padding-left: 10%; text-align: center; line-height: 1.5;}
.image_accordian ul li div a .btn-more{font-size:16px;font-weight:400;width:20%;margin-top:20%;white-space:normal;line-height:1.2;}
.image_accordian ul:hover li:hover a,
.image_accordian ul:hover li:hover a,
.image_accordian ul:focus-within li:focus a{background:rgba(0,0,0,0.4);}

.image_accordian ul:hover li:hover a *,
.image_accordian ul:hover li:hover a *,
.image_accordian ul:focus-within li:focus a *{opacity:1;transition:translateX(0px);}

#wrap .beauty .talk{width:30%;height:90%;display:flex;flex-direction:column;}
#wrap .beauty .talk div{width:100%;height:100%; display:flex;flex-direction: column;}
#wrap .beauty .talk .talkimg{width:100%;height:100%;transition: all .5s ease-in-out;}
.talk .talkimg img{width:100%;height:100%;}
.talk .talkimg img:hover{transform:scale(1.1)}
#wrap .beauty .talk p{font-size: 20px; text-align: center; font-weight: bold;
  margin: 60px 0 40px; color: #341c17;margin:20px 0 24px;}
#wrap .beauty .talk .tip{width:100%;height:30%; margin-top: -55%; align-items: center;z-index:3;}
#wrap .beauty .talk .tip span{ display: flex; justify-content: space-evenly; font-size: 23px;
    font-weight: 700; letter-spacing: 1px; text-overflow: clip;
    color: #fff; padding-left: 10%; text-align: center; line-height: 1.5;}
#wrap .beauty .talk .tip .btn-more{font-size:16px;font-weight:400;width:20%;margin-top:10%;white-space:normal;line-height:1.2;}

  /* Footer Section */
#wrap .footer{width:100%;height:30%;}
#wrap .footer .sns{width:100%;height:20%; background-color:#f8f8f8;align-items: center;
  justify-content: center; display: flex;}
#wrap .footer .sns>i{font-size:30px;color:#000;font-weight:500;padding:1%;}
#wrap .footer .footer-in{ width: 50%; height: 20%; display: flex; padding: 1.5% 0;
  align-items: center;justify-content: space-evenly;margin-left:25%;font-size:13px;}
#wrap .footer .footer-in li{ width: 20%; height: 100%; display: flex; 
 border-left: 1px solid #333;}
#wrap .footer .footer-in li a{width:100%;height:100%;text-align:center;align-items:center;}
#wrap .footer .fo-info{display:flex;width: 80%; font-size: 13px; margin-left: 27%; padding-top: 1%;}
#wrap .footer .fo-info p{width:25%; border-right:1px solid #333;text-align:center}
#wrap .footer .fo-info em{width:25%;text-align:center;font-style:normal;}
